.box{
    width: 60%;
    height:120px;

    margin: auto;
    margin-top: 30px;
    border: 2px #b7b7b7  solid;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:30px;
    border-radius: 7px;
      .imging{
        width:60px;
        height:60px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #cacaca;
       
    }
    .both{
        width: 100%;
        display: flex;
        align-items: center;
       gap: 10px;
   
    }
    .posting{
        width: 80%;
        display: flex;
        flex-direction: row;
       margin-left: 50px;
    }
    .post{
        width:95%;
        height: 50px;
       
        text-align: left;
        background-color:whitesmoke;
        color:rgba(84,84,84,0.89);
        outline: none;
        border: 1px solid #b7b7b5;
        padding: 12px;
        cursor: pointer;
        border-radius: 30px;

    }
    .post:hover{
        background-color: #b7b7b5;
    }
} 
.homi{
    height:100%;
  width:100%;
    display: flex;
    flex-direction: column;
   
    align-items: center;
}
.posts{
    width: 100%;
}
.posts1{
    width: 60%;
    height:auto;
    border: 2px #b7b7b7  solid;
    background-color: whitesmoke;
    border-radius: 5px;
    margin:auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    .head2{
        font-size: 13px;
        font-family: system-ui, sans-serif;
        color: rgba(0,0, 0,0.6);
        position: absolute;
        top:33px;
        left: 70px;
        font-weight: 500;
    }
    .time{
        font-size: 11px;
        font-family: system-ui, sans-serif;
       
        color: rgba(0,0, 0,0.6);
       position:absolute;
       top: 49px;
       left: 68px;
    }
    .data{
        font-weight: 400;
        font-family: system-ui, sans-serif;
        color: rgba(0,0, 0,0.9);
        font-size: 16px;
       margin-left: 10px;
       
    }

    
}
.name{
    font-weight: 500;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: capitalize;
    color: #212121;
    font-size: 18px;
  

   cursor: pointer;
text-decoration: underline;

}
.chotaprofile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit:cover;
    border: 1px black solid;
}
.imgname{
    display: flex;
    gap: 10px;
    margin: 10px;
   
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 20px;
    margin-right: 25px;
    cursor: pointer;
}
.row{
    display: flex;
    width: 100%;
   justify-content: space-between;
}
.homi{
    .userdata{
        width: 60%;
        height: auto;
        border: 2px #b7b7b7  solid;
        margin-top: 90px;
        border-radius: 7px;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        gap:5px;
        .userimg{
            width: 100px;
            margin-top: -60px;
            height:100px;
          object-fit: contain;
          border-radius: 50%;
          padding: 2px;
          border:3px solid #b7b7b7;

        }
        p{
            font-family:system-ui;
            
        }
        .nameing{
          font-weight: 600;
        
        }
        .head{
            font-weight: 400;
            margin-top: -10px;
        }
    }
}
.pos{
    
    width: 100%;
    
    padding-top:10px;
    padding-bottom: 10px;

}
.modalimg{
    width: 100%;
    height:200px;
   object-fit: fill;
}